* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: DAGGERSQUARE;
    src: url(font/DAGGERSQUARE.otf);
}

.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.clear-fix {
    clear: both;
}

body {
    background: #ddd;
}

.preloader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 700px;
    height: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.box-preloader {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 150px;
    height: 150px;
    background: #ff9800;
    border-radius: 50%;
    opacity: .5;
    position: absolute;

}

.title-section {
    background: #ff9800;
    width: 100%;
    height: 100%;
    min-height: 700px;
    
}

.title-container {
    font-family: daggersquare;
    font-size: 70px;
    color: #eceff1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}
.header {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 13vh;
    
}


.nav {
    width: 40%;
    height: 100%;
    padding: 45px 20px ;

}







.nav-box{
    width: 100px;
    height: 50px;
    margin: 0 20px;
    box-shadow:0 0 0 0 rgba(255,0,0,0) inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out; 
    
}
.nav-box:hover{
    box-shadow:0 0 0 100px rgba(255 ,255 ,255, 0.200) inset;
    border: 1px #414141 dotted;
    
}

.nav-box a {
    text-decoration: none;
    color: #fcfcfc;
    font-size: 18px;
    margin: 10px;
    font-family: daggersquare;
    text-shadow: 3px 3px 2px rgb(20, 20, 20);
}


.tower {
    width: 50vw;
    height: 59vh;
    background: url("fixed.png"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;
    position: absolute;
    z-index: 2;
    bottom: 0px;
    left: -75px;
    
}

.title-container strong {
    text-shadow: 10px 5px 20px rgb(20, 20, 20);
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid lightcoral;
    position: absolute;
    left: 480px;
    top: 20px;
}

.container{
    width: 100%;
    height: 100vh;
    background: #ff9800;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    
    width: 85%;
    height: 65vh;
}
.left-content{
    float:left;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right-content{
    float:left;
    width: 61%;
    height: 100%;
    margin-left: 3%;
    padding: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.equation {
    width: 50%;
    height: 30%;
    background:lightcoral;
    position: relative;
    left: -10px;
    margin: 0 5px 5px 0;

}

.box-desc {
    width: 100%;
    height: 95%;
    background: #fff;
    font-size: 16px;
    color: #414141;
    padding-left: 10px;
    border-radius: 25px;
    
}



.button-paginate {
    border: none;
    background: #fff;
    width: 75px;
    height: 40px;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 7px;
    color: #414141;
    font-weight: bolder;
    cursor: pointer;
}

.button-paginate:hover {
    background: #ddd;
}

.button-paginate:disabled {
    opacity: .5;
}

.not-visible {
    display: none;
}

.hal {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #414141;
    font-size: 16px;
    font-weight: bold;
    float: right;
    position: relative;
}

.box-q-list {
    width: 85%;
    height: 100%;
    background: #fff;
    border-radius: 10px;
}

.box-q {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 15px;
}

ul {
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    color: #414141;
}

ul li {
    border-bottom: 1px #414141 solid;
    padding: 15px;
}

ul li:hover {
    background: lightslategray;
    color: #fcfcfc;
}

#desc-q {
    margin: 10px;
    font-size: 18px;
}

