* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
     
}
@font-face {
    font-family: DAGGERSQUARE;
    src: url(font/DAGGERSQUARE.otf);
}

@font-face {
    font-family: caveat;
    src: url(font/caveat-regular.ttf);
}

@font-face {
    font-family: Retrocycles;
    src: url(font/Retrocycles.otf);
}

@font-face {
    font-family: 'Press Start 2P';
    src: url(font/PressStart2P.ttf);
}

::selection {
    color: #fcfcfc;
    background: rgb(255, 176, 57);
}

body {
    overflow-x: hidden;
    
}

svg {
    display:none;
}

.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.clear-fix {
    clear: both;
}

body {
    background: #ddd;
    counter-reset: count;
}

.circle1 {
    width: 150px;
    height: 150px;
    background: #ff9800;
    border-radius: 50%;
    position: absolute;
    top: 30vh;
    left: 50vw;
    display: none;
    
}
.circle2 {
    width: 100px;
    height: 100px;
    background: #ff9800;
    border-radius: 50%;
    position: absolute;
    top: 20vh;
    left: 20vw;
    display: none;
}
.circle3 {
    width: 50px;
    height: 50px;
    background: #ff9800;
    border-radius: 50%;
    position: absolute;
    top: 60vh;
    left: 20vw;
    display: none;
}
.circle4 {
    width: 75px;
    height: 75px;
    background: #ff9800;
    border-radius: 50%;
    position: absolute;
    top: 80vh;
    right: 20vw;
    display: none;
}
.circle5 {
    width: 80px;
    height: 80px;
    background: #ff9800;
    border-radius: 50%;
    position: absolute;
    top: 25vh;
    right: 15vw;
    display: none;
}

.transition-container {
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 1000;
    
}

h1{
    font-size: 10vw;
    font-family: 'Caveat', cursive;

}

h1 span{
    display: block;
    float: left;
    animation: animate 4s linear infinite;
    margin: 0 5px;
    padding: 0;
    position: relative;
    color: #111;
}

h1 span:nth-child(1){
    animation-delay: 0s;
}
h1 span:nth-child(2){
animation-delay: .25s;
}
h1 span:nth-child(2){
animation-delay: .5s;
}
h1 span:nth-child(3){
animation-delay: .75s;
}
h1 span:nth-child(4){
animation-delay: 1s;
}
h1 span:nth-child(5){
animation-delay: 1.25s;
}
h1 span:nth-child(6){
animation-delay: 1.5s;
}
h1 span:nth-child(7){
animation-delay: 1.75s;
}

h1 span:nth-child(9){
animation-delay: 2s;
}
h1 span:nth-child(10){
animation-delay: 2.25s;
}
h1 span:nth-child(11){
animation-delay: 2.5s;
}
h1 span:nth-child(12){
animation-delay: 2.75s;
}
h1 span:nth-child(13){
animation-delay: 3s;
}
h1 span:nth-child(14){
animation-delay: 3.25s;
}
h1 span:nth-child(15){
animation-delay: 3.5s;
}
h1 span:nth-child(16){
animation-delay: 3.75s;
}

@keyframes animate {
0%, 100%{
    color: #fff;
    filter: blur(2px);
    text-shadow: 0 0 10px #ff9800,
    0 0 20px #ff9800,
    0 0 40px #ff9800,
    0 0 80px #ff9800,
    0 0 120px #ff9800,
    0 0 200px #ff9800,
    0 0 300px #ff9800,
    0 0 400px #ff9800   ;
}
5%, 95%{
    color: #111;
    filter: blur(0px);
    text-shadow: none;
}
} 

.title-section {
    background: #ff9800;
    width: 100%;
    height: 100vh;
}

.title-container {
    font-family: daggersquare;
    font-size: 5vw;
    color: #eceff1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    z-index: 7;
    position: relative;

}
.header {
    position: absolute;
    top: -1vh;
    width: 100%;
    height: 150px;
    font-size: 14px;
    transition: top .5s ease-out !important;
    z-index: 8;
    
}

.header:hover {
    font-size: 16px;
    top: 0;
}


.nav {
    width: 50%;
    height: 100%;
    padding: 35px 5vw ;

}


.nav-box{
    width: 100px;
    height: 50px;
    margin: 0 15px;
    box-shadow:0 0 0 0 rgba(255,0,0,0) inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out; 
    
}
.nav-box:hover{
    box-shadow:0 0 0 100px rgba(0 ,0 ,0, 0.100) inset;
      
}

.nav-box span {
    color: #fcfcfc;
    margin: 10px;
    font-family: daggersquare;
    text-shadow: 3px 3px 2px rgb(20, 20, 20);
    cursor: pointer;
}


.tower {
    width: 600px;
    height: 450px;
    background: url("finish.png"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;
    position: absolute;
    bottom: 0px;
    z-index: 7;
    
    
}
.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 7px solid #e67e22;
    position: absolute;
    left: 60%; 
    
}

.of-hide{
    overflow: hidden;
    overflow-x: hidden; 
}



.title-container strong {
    text-shadow: 10px 5px 20px rgb(20, 20, 20);
}

.horizontal-sroll {
    width: 500%;
    height: 100vh;
}

.horizontal {
    height: 100%;
    width: calc( 100% / 5 );
    float: left;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FF9800;
}

.straightline-wrapper-tower{
    width: 200px;
    height: 360px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    z-index: 21;
}

.straightline-wrapper2{
    width: 200px;
    height: 50%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    
}

.straightline-wrapper-vertc {
    width: 200px;
    height: 400px;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    
}

.straightline {
    background: url('asset/straightline.png') center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.straightline-wrapper{
    width: 25vw;
    height: 200px;
    margin: 0 auto;
    position: absolute;
    bottom: 257px;
    left: 24.5vw;
    overflow: hidden;
    z-index: 1;
}

.straightlinevertc {
    background: url('asset/straightlinevertc.png') center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.vertical {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #ff9800;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.content-wrap-ver {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 10000;
    
    
}
.straight-vertical {
    width: 200px;
    height: 50%;
    position: absolute;
    z-index: 1000;
    top: 0;
    
}


.waveline-wrapper {
    width: 100%;
    height: 100px;
    overflow: hidden;
}
.masking {
    width: 100%;
    height: 100%;
    background: #ff9800;
    position: relative;
    z-index: 20;
}

.waveline {
    background: url('asset/line.png') center;
    background-size: cover;
    width: 50%;
    height: 100%;
    float: left;
    overflow: hidden;

}

.content-wrap {
    width: 400px;
    height: 500px;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.maxwell {
    background: url("asset/maxwell.jpg") center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

  

.not-visible {
    display: none !important;
}

.visible {
    display: inline-block !important;
}


.box-q-list {
    width: 85%;
    height: 100%;
    background: #fff;
    border-radius: 10px;
}

.box-q {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 15px;
}

#desc-q {
    margin: 10px;
    font-size: 18px;
}


.show-flex {
    display: flex;
}



.wave1 {
    width: 400px;
    height: 220px;
    background: url("wave.gif");
    background-size: cover;
    position: absolute;
    top: 125vh;
    transform: rotate(90deg);
}
.wave2 {
    width: 400px;
    height: 220px;
    background: url("wave.gif");
    background-size: cover;
    position: absolute;
    top: 180vh;
    left: 53vw;
    
}
.wave3 {
    width: 400px;
    height: 220px;
    background: url("wave.gif");
    background-size: cover;
    position: absolute;
    top: 150vh;
    left: 22vw;
    transform: rotate(90deg);
    
}
.wave4 {
    width: 800px;
    height: 440px;
    background: url("wave.gif");
    background-size: cover;
    position: absolute;
    top: 225vh;
    left: 10vw;
}
.wave5 {
    width: 400px;
    height: 220px;
    background: url("wave.gif");
    background-size: cover;
    position: absolute;
    top: 155vh;
    right: -10vw;
    transform: rotate(90deg);
}

.text-reveal {
    transform: translateY(40px);
}



.wave-transition {
    background: #ff9800;
    width: 100vw;
    height: 2vw;
    -webkit-animation: squiggly-anim 0.3s linear infinite;
            animation: squiggly-anim 0.3s linear infinite;
    position: relative;
    top: -1vw;
    left: -3;
}

.container-quiz{
    width: 100%;
    height: 100vh;
    background: #b3e5fc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.quiz {
    width: 90%;
    height: 60vh;
    padding-top: 5vh;
}

.main-indicator {
    width: 200px;
    height: auto;
    min-height: 100px;
    padding-left: 10px;
}

.indicator {
    width: 10px;
    height: 10px;
    background: #414141;
    opacity: .7;
    border-radius: 50%;
    margin: 5px;
    float: left;
    
}

.toCenter{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.result-icon {
    width:400px;
    height: 400px;
    position: absolute;
    z-index: 3;
}


.result-icon .wrong-result {
    background: url("icon/close.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

.result-icon .correct-result {
    background: url("icon/correct.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}



.gradient-overlay {
    width: 100%;
    height: 100vh;
    background-image: url("icon/ptp_grain.png"), 
    -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
}


.question {
    width: 30%;
    height: 50%;
    overflow: hidden;
    margin: 10% 5% 0 0;
    padding-top: 15px;
    border-top: 7px dotted #fff;
}

.question h3 {
    color: #fcfcfc;
    float: left;
    height: 100%;
    margin-right: 5px;
    font-size: 20px;
}

.question p {
    color: #fcfcfc;
    font-size: 20px;
    text-indent: 5px;
    
}

.bg-circle {
    background: #68859b;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    margin-right: 5%;
    -webkit-animation: squiggly-anim 0.3s linear infinite;
            animation: squiggly-anim 0.3s linear infinite;
    z-index: 2;
    position: relative;
    overflow: hidden;
    

}

.tower2 {
    width: 600px;
    height: 450px;
    background: url("finish.png") center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;
    position: relative;
    left: -25%;
    bottom: -5%;
    -webkit-animation: none;
            animation: none;


}


.main-answers {
    width: 27%;
    padding-left: 15px;

}

.answer {
    float: left;
    clear: both;
    position: relative;
    cursor: pointer;
    padding: 12px 30px;
    border: 2px solid white;
    left: 0;
    margin-top: 10%;
    margin-left: 15%;
    color: white;
    transition: all 0.3s;
    font-size: 16px;
    -webkit-transform: skew(-8deg);
            transform: skew(-8deg);
}

.answer:hover {
    text-indent: 14px;
}
.answer:hover:before {
    top: -24px;
}
.answer.correct {
    background: #41c042;
}
.answer.wrong {
    background: #D6302F;
}
.answer:before {
    display: block;
    box-shadow: 0 -6px 0 #d0dfec inset;
    position: absolute;
    content: counter(count, upper-alpha);
    counter-increment: count;
    background: white;
    color: rgba(0, 0, 0, 0.5);
    width: 40px;
    line-height: 41px;
    transition: all 0.2s;
    text-align: center;
    height: 40px;
    border-radius: 100px;
    font-weight: bold;
    top: -21px;
    left: -20px;
}

.arrow-down {
    width: 65%;

}

.arrow-down-img {
    background: url("Arrow.png") center;
    width: 200px;
    height: 320px;
    background-size: cover;
    margin-left: 15%;
}

.scrolling-text {
    width: 60%;
    height: auto;
    padding: 20% 0 0 10%;
}

.scrolling-text span {
    display: block;
    float: left;
    color: #fff;
    font-weight: bold;
    font-size: 46px;
    
    
}

.flex-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.dott-wrapper {
    width: 25%;
    height: 5%;
    padding-top: 6%;
}

.dotts {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
    margin: 7% 3% 3% 5%;
    position: relative;
}

.arrow-mask {
    width: 100%;
    height: 100%;
    background: #ef5350;
    position: relative;
}



.container-quiz img {
    width: 31px;
    image-rendering: pixelated;
    float: left;
    
}




.button {
  position: relative;
  min-width: 16vw;
  height: auto;
  padding: 0;
  margin: 10px 20px 10px 0;
  text-align: center;
  border-radius: 5px;
  transition: all 0.2s ;
  text-decoration: none;
  padding: 5px;
  

}

.button p {
    font-family: 'Press Start 2P';
  color: #FFF;
  font-size: 1.5vw;
  line-height: 4vh;
  margin: 25px 0;

}

.btnModule {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ff9800;
    padding: 25px 25px;
    
}



.btnPush:hover {
  margin-top: 15px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 0px 0px #007144;
}

.btnColor {
    background-image: linear-gradient(135deg, #84fab0 0%, #8fd3f4 100%);
}


footer {
    background: #fff;
    border: 2px solid #f29409;
    width: 100%;
    height: 280px;
    padding: 10px;
    color: #414141;
    
}


.one-third {
    width: 15vw;
    height: 100%;
    padding-top: 10px;
}

.one-third h3 {
    color: #ff9800;
    text-align: center;
    margin-bottom: 10px;
    font-size: 21px;
}

.one-third ul {
    list-style: square outside url("icon/arrow.png");
    margin-left: 30px;
    font-size: 18px;
    border-right: 1px solid #ff9800;
}




.one-third ul li {
    margin: 5px 0;
    cursor: pointer;
}

.one-third ul li:hover {
    font-size: 19px;
}

.one-double {
    width: 30vw;
    height: 85%;
    border-bottom: 1px solid #ff9800;
    margin-left: 15px;
}

.one-double .one-third ul {
    border: none;
    
}

.one-double .one-third .border-line {
    border-left: 1px solid #ff9800;
    
}

.one-double .one-third .border-line h2 {
    text-align: center;   
}

.right-side {
    width: 40vw;
    height: 100%;
    margin-left: 5vw;
}

.right-side img {
    width: 15vw;
    margin-left: 1.5%;
    margin-bottom: 25px;

}




@-webkit-keyframes squiggly-anim {
    0% {
        -webkit-filter: url("#squiggly-0");
                filter: url("#squiggly-0");
    }
    25% {
        -webkit-filter: url("#squiggly-1");
                filter: url("#squiggly-1");
    }
    50% {
        -webkit-filter: url("#squiggly-2");
                filter: url("#squiggly-2");
    }
    75% {
        -webkit-filter: url("#squiggly-3");
                filter: url("#squiggly-3");
    }
    100% {
        -webkit-filter: url("#squiggly-4");
                filter: url("#squiggly-4");
    }
}
@keyframes squiggly-anim {
    0% {
        -webkit-filter: url("#squiggly-0");
                filter: url("#squiggly-0");
    }
    25% {
        -webkit-filter: url("#squiggly-1");
                filter: url("#squiggly-1");
    }
    50% {
        -webkit-filter: url("#squiggly-2");
                filter: url("#squiggly-2");
    }
    75% {
        -webkit-filter: url("#squiggly-3");
                filter: url("#squiggly-3");
    }
    100% {
        -webkit-filter: url("#squiggly-4");
                filter: url("#squiggly-4");
    }
}


.materi-container {
    animation: bground 15s ease infinite ;
    background: linear-gradient(135deg, #D6568B, #FF675B , #FF9800);
    background-size: 400%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    position: relative;
}

.materi {
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    
}

.sound-btn-materi {
    width: 3vw;
    height: 3vw;
    position: fixed;
    right: 5vw;
    top: 3vh;
}

.sound-btn-materi img {
    width: 31px;
    image-rendering: pixelated;
}

.tower_white {
    background: url('tower_white.png') center;
    background-size: cover;
    width: 500px;
    height: 400px;
    opacity: .3;
    position: fixed;
    bottom: -10vh;
    right: -10vw;
}

.materi-container h2 {
    color: #fcfcfc;
    text-align: center;
    font-family: daggersquare;
    letter-spacing: 2px;
    font-size: 3vw;
}

img {
    width: 100%;
    height: auto;
}

.materi p {
    width: 20vw;
    height: auto;
    background: rgba(255, 255, 255, 0.850);
    margin: 15px 15px 0 0;
    padding: .3em;
    position: relative;
    z-index: 2; 
    border-radius: 3%; 

}
.btn-container {
    position: absolute;
    left: 1vw;
    top: 1vh;
    z-index: 10;
}

.next-page-btn {
  margin-left: 1em;
  cursor: pointer;
  position: relative;
  display: block;
  width: 3.5vw;
  height: 3.5vw;
  border: solid 3px #fff;
  border-radius: 100%;
  z-index: 1;
  transition: all .2s linear;
}

.next-page-btn:before, .next-page-btn:after {
  content: "";
  position: absolute;
  width: 35%;
  height: 10%;
  top: 41%;
  left: 53%;
  background: #fff;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  transition: all .2s linear;
}
.next-page-btn:after {
  z-index: 3;
  top: 63%;
  left: 53%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.next-page-btn:hover {
  border: solid 7px #00A53F;
}
.next-page-btn:hover:after, .next-page-btn:hover:before {
  background: #00A53F;
}
.next-page-btn:active {
  border: solid 7px #FF9800;
}
.next-page-btn:active:after, .next-page-btn:active:before {
  background: #FF9800;
}

.prev-page-btn {
  cursor: pointer;
  position: relative;
  display: block;
  width: 3.5vw;
  height: 3.5vw;
  border: solid 3px #fff;
  border-radius: 100%;
  z-index: 1;
  transition: all .2s linear;
}

.prev-page-btn:before, .prev-page-btn:after {
  content: "";
  position: absolute;
  width: 35%;
  height: 10%;
  top: 41%;
  left: 47%;
  background: #fff;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  transition: all .2s linear;
}
.prev-page-btn:after {
  z-index: 3;
  top: 63%;
  left: 47%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.prev-page-btn:hover {
  border: solid 7px #00A53F;
}
.prev-page-btn:hover:after, .prev-page-btn:hover:before {
  background: #00A53F;
}
.prev-page-btn:active {
  border: solid 7px #FF9800;
}
.prev-page-btn:active:after, .prev-page-btn:active:before {
  background: #FF9800;
}


.modal-content-container {
    width: 100%;
    height: 100vh;
    background: rgba(0 ,0 ,0, 0.950);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    width: 35vw;
    height: 25vw;
    border-radius: 5%;
    padding-left: 4%;
}

.modal-content .btn {
    background: #fff;
    color: #979797;
    width: 10vw;
    height: 7vh;
    border: 1px #b8b8b8 solid;
    font-size: 16px;
    cursor: pointer;
    margin: 30px 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;

}

.modal-content .btn-yes:hover {
    background: #00A53F;
    transition: background 500ms ease-out;
    color: #fff;
    border: #fff;
}

.modal-content .btn-no:hover {
    background: #C35353;
    transition: background 500ms ease-out;
    color: #fff;
    border: #fff;
}

.modal-content p {
    margin: 8% 3% 10% -7%;
    font-size: 2.5vw;
    font-family: Retrocycles;
    text-align: center;
    line-height: 1em;

}

.modal-content p span {
   font-size: 14px;
   font-family: arial;
   color: #888888;
}


@-webkit-keyframes bground {
    0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
@keyframes bground {
    0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}









